<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://use.fontawesome.com/0050a00bc6.js"></script>
    <title>MY BLOG</title>
</head>
<body>
  <nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand"><a class="text-gray" href="#">Welcome </a></div>
        <div class="toggle-collapse">
            <div class="toggle-icons"><i class="fa fa-bars"></i></div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link"><a href="#">Home</a></li>
                <li class="nav-link"><a href="#" onclick="autoScrollTo('projects')">Projects</a></li>
                <li class="nav-link"><a href="#" onclick="autoScrollTo('alumni')">Alumni</a></li>
                <li class="nav-link"><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="social text-gray"><a href="https://m.facebook.com/profile.php?id=100003916482113"><i class="fa fa-facebook"></i></a><a href="https://www.google.com/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.instagram.com/venkatasai_priyatham/&amp;ved=2ahUKEwioot3kkOPrAhXTzDgGHa7uCNUQFjACegQIAxAB&amp;usg=AOvVaw2H7Yep2OVdTJV1dGGOcJ7B"><i class="fa fa-instagram"></i></a>
            <a
                href="https://www.google.com/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://in.linkedin.com/in/pedakota-venkatasai-priyatham-0b00571b0&amp;ved=2ahUKEwioot3kkOPrAhXTzDgGHa7uCNUQFjAAegQIARAB&amp;usg=AOvVaw2j27z7JOum00MxIVGTzyz-"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-youtube"> </i></a><a href="/">  signout  </a></div>
    </div>
</nav>
    <div id="projects">
        <P class="section-heading" >MY PROJECTS</P>    
        <div class="project">
          <p class="heading">
             PRJ-1
          <p>
          <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eius! Explicabo nihil ea doloremque? Iusto quia consectetur nemo nihil aliquid quam optio aspernatur. Eius ad, aliquam unde architecto magnam in!</p>   
          <a class="try-it-btn"href="/predict">Try out</a>
        </div>    
        <div class="project">
          <p class="heading">
             PRJ-2
          <p>
          <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eius! Explicabo nihil ea doloremque? Iusto quia consectetur nemo nihil aliquid quam optio aspernatur. Eius ad, aliquam unde architecto magnam in!</p>    
        </div>    
        <div class="project">
          <p class="heading">
             PRJ-3
          <p>
          <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eius! Explicabo nihil ea doloremque? Iusto quia consectetur nemo nihil aliquid quam optio aspernatur. Eius ad, aliquam unde architecto magnam in!</p>    
        </div>    
        <div class="project">
          <p class="heading">
             PRJ-4
          <p>
          <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, eius! Explicabo nihil ea doloremque? Iusto quia consectetur nemo nihil aliquid quam optio aspernatur. Eius ad, aliquam unde architecto magnam in!</p>    
        </div>   
    </div>
    <div id="events" >
      <P class="section-heading" >EVENTS</P>
      
    </div>
    <div id="alumni">
      <P class="section-heading" >ALUMNI</P>
       <div class="clubMember">
            <img src="../static/assets/Blog-post/post-4.png" alt="" srcset="">
            <p class="name">AYUSH</p>
            <p class="position">Company</p>
       </div>
       <div class="clubMember">
            <img src="../static/assets/Blog-post/post-4.png" alt="" srcset="">
            <p class="name">SRIMAN CHAKRI</p>
            <p class="position">Qualcomm</p>
       </div>
       <div class="clubMember">
            <img src="../static/assets/Blog-post/post-4.png" alt="" srcset="">
            <p class="name">CHITRITA</p>
            <p class="position">SEO Amazon</p>
       </div>
       <div class="clubMember">
            <img src="../static/assets/Blog-post/post-4.png" alt="" srcset="">
            <p class="name">YASH SHAW</p>
            <p class="position">Google</p>
       </div>
       <div class="clubMember">
            <img src="../static/assets/Blog-post/post-4.png" alt="" srcset="">
            <p class="name">THANOOJ</p>
            <p class="position">Dev</p>
       </div>
    </div>
    <div class="contact"></div>
    <div id="bottom-img"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>

</html>